<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">Información de contacto</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li><i class="fa fa-envelope"></i>&nbsp;<a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
          <li><i class="fa fa-phone"></i>&nbsp;646567338</li>
        </ul>
      </div>

			<div class="footer-col footer-col-2"></div>

      <div class="footer-col footer-col-3">
        <ul class="social-media-list">
					<div class="fb-page" data-href="https://www.facebook.com/AOTEN-1620947904893933" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="false"><blockquote cite="https://www.facebook.com/AOTEN-1620947904893933" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/AOTEN-1620947904893933">AOTEN</a></blockquote></div>
          {% if site.twitter_username %}
          <li>
            {% include icon-twitter.html username=site.twitter_username %}
          </li>
          {% endif %}
        </ul>
      </div>
    </div>

  </div>

</footer>

